<div class="card">
  <div class="container">
    <h4><b><%= courseName %></b></h4>
    <p><%= teacherName %></p>
    <button class="view" onclick="window.location.href='/courses/view'">
      View Course
    </button>
  </div>
</div>
